@tailwind base;
@tailwind utilities;
:root {
  font-size: 14px;
  --color-primary-900: #0c0d0e;
  --color-primary-800: #23272a;
  --color-primary-700: #3a4246;
  --color-primary-600: #68767d;
  --color-primary-500: #829097;
  --color-primary-400: #9ea8ae;
  --color-primary-300: #b9c1c5;
  --color-primary-200: #d5dadc;
  --color-primary-100: #edeff0;
  --color-primary-50: #f7f7f7;
  --color-accent: #292cdb;
  --color-accent-hover: #3a3cd2;
  --color-accent-disabled: #876de8;
  --color-error: #912637;
  --color-success: #66e674;
}

html, body, #root {
  background-color: var(--color-primary-900);
  height: 100%;
  width: 100%;
}

body {}

.center-xy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-left {
  @apply absolute top-2/4 left-0 transform -translate-y-1/2;
}

.center-right {
  @apply absolute top-2/4 right-0 transform -translate-y-1/2;
}

.center-y {
  @apply absolute top-2/4 transform -translate-y-1/2;
}

.center-x {
  @apply absolute left-2/4 transform -translate-x-1/2;
}